@media (max-width: 320px) {
    .my-header{
        top: 0;
        bottom: 0;
        left: 0;
    }
    .my-header .navbar a {
        font-size: 2rem;
    }
    .home-section .home-image {
        width: 200vw;
    }
    .home-content h1 {
        font-size: 3.5rem;
    }
    .home-section h1 {
        width: 37rem;
    }
    .home-section .home-content {
        position: absolute;
        top: 7rem;
        /* right: 37rem; */
        /* max-width: 63rem; */
        z-index: 2;
        left: -18rem;
    }
    .home-section h3 {
        margin-left: 16rem;
        font-size: 2.2rem;
    }
    body{
        overflow: hidden;
    }
    .about-content h2 {
        text-align: center;
        margin: 0 0 30px 0;
    }
    .about {
        margin-top: 0;
        padding-top: 46rem;
    }
    .about-content h3 {
        font-size: 15px;
        margin-left: 3rem;
        margin-top: 0;
        text-align: center;
    }
    .about-content p{
        font-size: 12px;
        max-width: 35rem;
        /*margin-left: 3rem;*/
        text-align: center;
        margin: 2rem 30px 3rem;
    }
    .tab-titles .tab-links {
        font-size: 14px;
    }
    .tab-titles .tab-links-margin {
        margin-right: 22px;
    }
    .about-content {
        margin-left: 11px
    }
    .about-content a {
        left: 12rem;
        position: absolute;
        bottom: -8rem;
    }

    .tab-titles {
        margin: -23px -2px -20px 0;
    }
    .services {
        margin: 0;
    }
    .services h2 {
        margin-left: 5rem;
        margin-bottom: 3rem;
        width: 25rem;
    }
    .service-box p {
        font-size: 14px;
    }
}