
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

:root{
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0,0,0, .2);
    --hs: 225, 100%;
    --paper: hsl(var(--hs), 25%);
    --highlight: hsl(var(--hs), 45%);
    --shadow: hsl(var(--hs), 15%);
}
.dark-mood{
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    --shadow-color: rgba(0,0,0, .7);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    width: 100%;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
#body>section{
    /*display: none;*/
}
.pane-1{
    width: 0;
    position: fixed;
    height: 100vh;
    background: var(--bs-gray-dark);
    z-index: 1001;
    left: 0;
    animation-name: pane-left;
    animation-delay: 2s;
    animation-duration: .5s;
}

.pane-2 {
    width: 0;
    position: fixed;
    height: 100vh;
    background: var(--bs-gray-dark);
    z-index: 1001;
    right: 0;
    animation-name: pane-left;
    animation-delay: 2s;
    animation-duration: .5s;
}

.pane-3 {
    margin: auto;
    width: 1px;
    position: fixed;
    height: 0;
    background: white;
    z-index: 1002;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    animation: open-line 2s;
}

.pane-color {
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*display: none;*/
    background: var(--bs-gray-dark);;
    /*width: 100vw;*/
    /*height: 100vh;*/
    z-index: 1000;
    animation-name: transparent-bgc;
    animation-delay: 2s;
    animation-duration: 1.5s;
}

.pane-display-none {
    display: none;
}
@keyframes transparent-bgc {
    from{
        background: var(--bs-gray-dark);;
    }
    to{
        background: transparent;
    }
}
@keyframes open-line {
    from{
        height: 0;
    }
    to{
        height: 100vh;
    }
}
@keyframes pane-left {
    from{
        width: 49.4vw;
    }
    to{
        width: 0;
    }
}
.my-header .navbar{
    display: block;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
    left: 14px;
    top: 29rem;
    background: var(--main-color);
}
.my-header .navbar a{
    font-size: 2.8rem;
    margin: 1rem;
    color: darkgray;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.my-header .navbar a:hover{
    color: white;
}
.my-header .navbar a.active::before{
    color: blue;
}
.image-pane{
    position: absolute;
    width: 79vw;
    height: 59.2vw;
    z-index: 1;
    background: rgba(251, 250, 250, 0.2);
    right: 0;
    top: 0;
    /* content: ""; */
    /* filter: blur(91px);




     */
    /*position: absolute;*/
    /*width: 52vw;*/
    /*height: 23.2vw;*/
    /*z-index: 1;*/
    /*background: rgba(0,0,0,.7);*/
    /*right: 40vw;*/
    /*top: 0;*/
    /*!* content: ""; *!*/
    /*filter: blur(91px);*/
}
.home-content h1 {
    font-family: "Titillium Web", sans-serif;
    font-size: clamp(8rem, 23vw + 1rem, 20rem);
    letter-spacing: 0.1em;
    display: grid;
    place-items: center;
    grid-template-areas: "text";
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-image: linear-gradient(305deg, tomato, gold, cyan);
    margin: 0;

}
.home-content h1::after {
     grid-area: text;
 }
.home-content h1::after {
     content: attr(data-text);
     color: var(--paper);
     transform: translate(0.1em, 0.1em);
     filter: drop-shadow(0.015em 0.015em 0.025em var(--shadow));
     -webkit-background-clip: text;
     color: transparent;
     background-image: linear-gradient(var(--highlight), var(--paper));
 }
.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}
#darkMood-icon{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}
#menu-icon{
    display: none;
    font-size: 2.4rem;
    color: black;
    cursor: pointer;
}
section{
    /*min-height: 100vh;*/
    padding: 10rem 7% 2rem;

}
.typewrite{
    text-decoration: none;
}
.home-section .home-image{
    vertical-align: middle;
    margin: 0 0 0 -94px;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 79vw;
}
.home-section .home-art-2{
    /*left: 0;*/
    /*position: absolute;*/
    /*width: 400px;*/
    /*height: 400px;*/
    /*z-index: 200;*/
    /*background-color: tomato;*/
    /*border-top-right-radius: 30%;*/
    /*transform: rotate(30deg) skewX(-30deg) scale(1,0.866);*/
}
.home-section .home-content{
    position: absolute;
    top: 7rem;
    right: 39rem;
    max-width: 63rem;
    z-index: 2;
}
.my-header{
    width: 27rem;
    height: 100vh;
    background: var(--main-color);
    position: fixed;
    top: 0;
    /*left: 0;*/
    z-index: 100;
    padding: 0;
}
.my-header img{
    width: 14rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 39px;
    border-radius: 90px;
    box-shadow: 0px 6px 5px #ccc;
    border: 3px solid white;
}
.my-header h2{
    position: absolute;
    left: 36px;
    color: var(--white-color);
    top: 186px;
    font-family: cursive;
    font-weight: bold;
    font-size: 22px;
}
.my-header .social-media{
    position: absolute;
    top: 20rem;
    left: 27px;
}
.my-header .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: 0.2rem solid var(--white-color);
    border-radius: 50%;
    box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--white-color);
    margin: 2.5rem 0.7rem 3rem 0;
    text-decoration: none;
    transition: .5s ease;
}
.my-header .social-media a:hover{
    color: var(--main-color);
    background: var(--white-color);
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
    padding: 1px 0 12px 68px;
}
.home-content p {
    font-size: 1.6rem;
    /* animation: an 5s ease-out 1 both; */
    padding-bottom: 63px;
}
.home-section{
    display: flex;
    align-items: center;
    animation: image-in 2s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}
.home .home-section{
    max-width: 51rem;
}
.home-section h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
    color: var(--white-color);
}
.home-section h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}
.home-section p{
    font-size: 1.6rem ;
}
.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--white-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--white-color);
    margin: 2.5rem 1.5rem 3rem 0;
    text-decoration: none;
    transition: .5s ease;
}

.home-content .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.btn {
    display: inline-block;
    padding: 4px 2px;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--main-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}
.btn:hover{
    background: transparent;
    color: var(--white-color);
    border-color: var(--main-color);
}
.home .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 700px;
    height: 700px;
    /*background: red;*/
    overflow: hidden;
    pointer-events: none;

    animation: image-in 2s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}
.home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
}
span{
    color: var(--main-color);
}
.about{
    padding-top: 61rem;
    display: flex;
    justify-content: right;
    align-items: end;
    /* gap: 35rem; */
    margin-top: 13rem;
    margin-left: 33rem;
}
.heading{
    font-size: 4.5rem;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.my-heading-as{
    position: absolute;
}
.about-content h2{
    margin: 0 0 75px 0;
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2rem;
    margin-top: 9rem;
}
.about-content p{
    font-size: 2rem;
    margin: 2rem 0 3rem;
}
.tab-titles{
    display: flex;
    margin: -40px 0 -20px 0;
}
.tab-titles .tab-links-margin{
    margin-right: 50px;
}
.tab-titles .tab-links{

    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-titles .tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s ease;

}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    font-size: 14px;
}

.tab-links.active-links::after {
    width: 100%;
}

.services {
    position: relative;
    width: 80vw;
    /* justify-content: right; */
    /* align-items: end; */
    left: 19vw;
}

.services h2 {
    margin-bottom: 5rem;
}

.services .service-container {
    width: 72vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-container .service-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    border-radius: 20px;
    padding: 3rem 2rem 4rem;
    border-right: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}
.service-container .service-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}
.service-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.service-box h3{
    font-size: 2.6rem;
    transition: .5s ease;
}
.service-box:hover h3{
    color: var(--main-color);
}
.service-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.projects{
    padding-bottom: 10rem;
    width: 80vw;
    left: 26rem;
    position: relative;
    margin-top: 3rem;
}
.projects h2{
    margin-bottom: 4rem;
}
.projects .project-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.project-container .project-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.1);
    overflow: hidden;
}
.project-box img{
    width: 100%;
    transition: .5s ease;
}
.project-box:hover img{
    transform: scale(1.1);
}
.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    color: var(--white-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    justify-content: center;
    opacity: 0;
    transition: .5s ease;
}
.project-box:hover .project-layer{
    opacity: 1;
}
.project-layer h4{
    font-size: 3rem;
}
.project-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.project-layer a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
    text-decoration: none;
}
.project-layer a i{
    font-size: 2rem;
    color: #333333;
}

.assignment-content{
    /*min-height: 100vh;*/
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    background-color: transparent;
    width: 80vw;
    left: 28rem;
    position: relative;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
    padding: 10px;
}
.card{
    border-radius: 25px;
    transition: .5s ease;
    box-shadow: 0 0.2rem 0.9rem rgb(65 64 64);
}
.card:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.card-content{

    height: 170px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay-slide{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 25px 25px 0 25px;
}
.overlay-slide::before,
.overlay-slide::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
}
.overlay-slide::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}
.card-image{
    position: relative;
    height: 10vw;
    width: 18vw;
    border-radius: 19px;
    background: var(--bs-gray-200);
    padding: 5px;
    margin-left: 0;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    /*border: 4px solid #4070F4;*/
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-bottom {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    width: 11vw;
    margin: auto;
}

.button:hover {
    background: var(--main-color);
}
.swiper-navBtn{
    color: var(--text-color);
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: var(--main-color);
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 35px;
    padding-bottom: 120px;
}
.swiper-button-next{
    right: 0;
    padding-left: 10px;
}
.swiper-button-prev{
    left: 0;
    padding-right: 10px;
}
.swiper-pagination-bullet{
    /*background-color: #6E93f7;*/
    opacity: 1;
}
.swiper-pagination-bullet-active{
    /*background-color: #4070F4;*/
}
.bx-menu {
    font-size: 4rem;
    position: fixed;
    z-index: 1000;
    color: dimgray;
    margin: 1rem;
}
.my-header-open{
    animation: open-menu 1s;
    /*left: 0;*/
}
.my-header-close{
    animation: close-menu 1s;
    /*left: -28rem;*/
}
@keyframes open-menu {
    from{
        left: -28rem;
    }
    to{
        left: 0;
    }

}

@keyframes close-menu {
    from {
        left: 0;
    }
    to {
        left: -28rem;
    }
}



/*Contact Section*/
.image-pane {

}

#contact {
    width: 100%;
    height: 100%;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px "Oswald", sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20vw;
    padding: 21px;
    position: relative;
    max-width: 840px;
}

/* Left contact page */
.form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: "Lato";
    font-weight: 400;
}

.form-control,
textarea {
    max-width: 400px;
    background-color: var(--bg-color);
    /*color: #fff;*/
    letter-spacing: 1px;
    font-family: cursive;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 29vw;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.alt-send-button {
    transition: all 0.2s ease-in-out;
    margin-top: -8px;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px "Lato", sans-serif;
    letter-spacing: 2px;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
    max-width: 400px;
    margin-left: 5rem;
}

/* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 18px "Lato", sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
}

.place {
    margin-left: 3vw;
}

.phone {
    margin-left: 3vw;
}

.gmail {
    margin-left: 3vw;
}

.contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: var(--main-color);
    text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: #fff;
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #fff;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: #000;
}

.copyright {
    font: 200 14px "Oswald", sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}

hr {
    border-color: rgba(255, 255, 255, 0.6);
}

.form-group {
    margin-bottom: 1rem;
}

/* Begin Media Queries*/
/*@media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }
    .direct-contact-container,
    .form-horizontal {
        margin: 0 auto;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }
    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}*/

/*@media screen and (max-width: 569px) {
    .direct-contact-container,
    .form-wrapper {
        float: none;
        margin: 0 auto;
    }
    .form-control,
    textarea {
        margin: 0 auto;
    }

    .name,
    .email,
    textarea {
        width: 280px;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }
    .social-media-list {
        left: 0;
    }
    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }
    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
}*/

@media (max-width: 1300px) {

    .home-section h1 {
        margin-left: 8rem;
    }

    .my-header .social-media a {
        width: 3rem;
        height: 3rem;
    }

    .my-header h2 {
        left: 32px;
        font-size: 19px;
    }

    .my-header .navbar a {
        font-size: 2.5rem;
    }

    .my-header .navbar {
        left: 0;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .my-header h2 {
        top: 169px;
    }

    .my-header .social-media {
        top: 21rem;
    }

    .card-image {
        height: 9vw;
        width: 17vw;
    }

    .projects .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*@media (max-width: 1024px) {
    .home-section h1 {
        margin-left: 20rem;
    }

    .home-section h3 {
        margin-left: 20rem;
        width: 57rem;
    }

    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services .service-container {
        width: 70vw;
    }

    .services {
        left: 27rem;
    }

    .projects {
        width: 76vw;
    }

    .assignment-content {
        width: 75vw;
    }

    .my-header {
        left: 0;
    }

    .name {
        font-size: 17px;
    }

    .description {
        font-size: 13px;
    }

    .btn {
        font-size: 1.2rem;
    }
}*/

@media (max-width: 949px) {

    .navbar a.active::before {
        background-color: var(--main-color);
    }

    .home .home-content {
        max-width: 50rem;
    }

    .home .profession-container .profession-box {
        right: -45rem;
    }

    .home .profession-container .overlay {
        right: -39.5rem;
    }

    .home-img img {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    .about .about-img {
        width: 100vw;
        /*align-items: center;*/
        position: absolute;
        top: 100rem;
        right: 0;
    }

    .about .about-content {
        width: 100vw;
    }

    .home-section h1 {
        width: 64rem;
    }

    .my-header {
        left: -28rem;
    }

    .home-section .home-image {
        width: 100vw;
    }

    .about {
        margin-left: 17rem;
    }

    .services {
        left: 0;
        margin-top: 13rem;
    }

    .services .service-container {
        width: 90vw;
    }

    .projects {
        width: 100vw;
        margin-top: 11rem;
    }

    .projects {
        left: 0;
    }

    .assignment-content {
        left: 0;
    }

    .assignment-content {
        width: 100vw;
    }

    .card-image {
        width: 31vw;
        height: 15vw;
    }

    .contact-wrapper {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
        position: inherit;
        right: 1rem;
        margin: 2rem;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        /*border-top: .1rem solid rgba(0,0,0,.2);*/
        /*box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);*/
        /*transition: 3s;*/
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: .7rem 0;
        color: var(--text-color);
        width: 100vw;
        background: none;
    }

    .navbar a.active::before {
        width: 0;
    }

    .navbar a::before {
        display: none;
    }

    .home {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }


    .card-image {
        width: 33vw;
        height: 15vw;
    }


    .contact-wrapper {
        display: inline-block;
        margin-left: 0;
    }

    .form-group {
        width: 80vw;
    }

    .form-control, textarea {
        max-width: 100%;
        margin: initial;
        width: 80vw;
    }

    .send-button {
        width: 80vw;
    }

    .alt-send-button {
        margin-top: -3px;
    }

    .direct-contact-container {
        margin-top: 18px;
        max-width: 80vw;
    }

    .contact-text {
        font: 300 13px "Lato", sans-serif;
    }

    .place {
        margin-left: 15px;
    }

    .phone {
        margin-left: 15px;
    }

    .gmail {
        margin-left: 10px;
    }

    .form-horizontal {
        max-width: 100%;
    }

}
